<template name="consultaSubmit">
  <form name="consulta" class="consulta-form form">
    <div class="form-group {{errorClass 'body'}}">
        <div class="controls">
            <label for="body"><h3>Consulta</h3></label>
            <textarea name="body" id="body" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Consulta</button>
  </form>
</template>
