<template name="pacientePage">
  <div class="paciente-page page">

    <div class="container">
      <h3 style="float: right;">{{{nombre}}}</h3>
      <ul class="nav nav-pills" style="margin-top: 50px;">
        <li class="active"><a data-toggle="pill" href="#consultar"><span class="glyphicon glyphicon-list-alt"></span> Consultar</a></li>
        <li><a data-toggle="pill" href="#datos"><span class="glyphicon glyphicon-user"></span> Datos del Paciente</a></li>
        <li><a data-toggle="pill" href="#historial"><span class="glyphicon glyphicon-time"></span> Historial</a></li>
        <li><a data-toggle="pill" href="#archivos"><span class="glyphicon glyphicon-floppy-save"></span> Archivos</a></li>
      </ul>

      <div class="tab-content">
        <div id="consultar" class="tab-pane fade in active">
          {{#if currentUser}}
            {{> consultaSubmit}}
          {{else}}
            <p>Por favor inicie sesión para realizar esta consulta.</p>
          {{/if}}
        </div>
        <div id="datos" class="tab-pane fade">
          <h3>Menu 1</h3>
          <div class="pull-right">
            <a href="#" class="thumbnail" style="background: transparent; border: none;">
              <a href="{{urlFoto foto}}" target="_blank"><img src="{{urlFoto foto store='thumbs' uploading='/img/loading.gif' storing='/img/storing.gif'}}" alt="" class="thumbnail" /></a>
            </a>
          </div>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="historial" class="tab-pane fade">
          <h3>Últimas consultas</h3>
          <ul class="comments">
            {{#each consultas}}
              {{> consultaItem}}
            {{/each}}
          </ul>
        </div>
        <div id="archivos" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>
    </div>

  </div>
</template>
