<template name="pacienteSubmit">
  <form id="formPacienteSubmit" class="consulta-form form">
    {{> buttonsSave}}
    <!-- <hr> -->
    <!-- <hr> -->
    <div class="row" hidden="{{isEditing}}">
      <div class="col-xs-12 col-md-12 col-lg-12" >
        <div class="form-group">
          <div class="pull-right">
            <a class="dropdown-toggle profile-image" data-toggle="dropdown">
              <img id="foto" src="{{urlFoto}}" class="img-circle">
            </a>
            <input type="file" name="file-up" id="file-up" style="display:none">
            <button type="submit" value="Guardar" class="btn btn-primary btn-xs {{hiddenIfInserting}}" id="btnGuardar">
              <img src="/img/ic_done_white_24px.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {{> flashMessages}}
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group {{errorClass 'dni'}}">
          <label class="control-label required-label" for="dni">DNI</label>
          <div class="controls">
            <input name="dni" id="dni" type="number" required="true" value="{{dni}}" placeholder="Documento Nacional de Identidad" class="form-control" />
            <span class="help-block">{{errorMessage 'dni'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'nombre'}}">
          <label class="control-label required-label" for="nombre">Nombre</label>
          <div class="controls">
            <input name="nombre" id="nombre" type="text" required="true" value="{{nombre}}" placeholder="Nombre del paciente" class="form-control" />
            <span class="help-block">{{errorMessage 'nombre'}}</span>
          </div>
        </div>
        <div class="form-group  {{errorClass 'grupoSanguineo'}}">
          <label class="control-label required-label" for="grupoSanguineo">Grupo Sanguineo</label>
          <div class="controls">
            <select class="form-control" id="grupoSanguineo" name="grupoSanguineo" required="true">
              <option value="N" {{selectedGrupoSanguineo 'N'}}> Ninguno </option>
              <option value="O-" {{selectedGrupoSanguineo 'O-'}}> O- </option>
              <option value="O+" {{selectedGrupoSanguineo 'O+'}}> O+ </option>
              <option value="A-" {{selectedGrupoSanguineo 'A-'}}> A- </option>
              <option value="A+" {{selectedGrupoSanguineo 'A+'}}> A+ </option>
              <option value="B-" {{selectedGrupoSanguineo 'B-'}}> B- </option>
              <option value="B+" {{selectedGrupoSanguineo 'B+'}}> B+ </option>
              <option value="AB-" {{selectedGrupoSanguineo 'AB-'}}> AB- </option>
              <option value="AB+" {{selectedGrupoSanguineo 'AB+'}}> AB+ </option>
            </select>
            <span class="help-block">{{errorMessage 'grupoSanguineo'}}</span>
          </div>
        </div>
        <div class="form-group {{errorClass 'fechaNacimiento'}}">
          <label class="control-label required-label" for="fechaNacimiento">Fecha de nacimiento</label>
          <div class="controls">
            <div class="input-group">
              <input name="fechaNacimiento" id="fechaNacimiento" type="date" required="true" value="{{fechaNacimiento}}" max="{{maxDate}}" class="form-control" />
              <span class="input-group-addon" id="basic-addon1">{{edad}}
                <img src="/img/ic_cake_black_18px.svg" />
              </span>
            </div>
            <span class="help-block">{{errorMessage 'fechaNacimiento'}}</span>
          </div>
        </div>
        <!-- </div> -->
        <!-- {{#if isDesktop}} {{> accountPhoto urlFoto=urlFoto}} {{/if}} -->

        <!-- </div> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-xs-12 col-md-12 col-lg-6"> -->
        <div class="form-group {{errorClass 'domicilio'}}">
          <label class="control-label required-label" for="domicilio">Domicilio</label>
          <div class="controls">
            <input name="domicilio" id="domicilio" type="text" required="true" value="{{domicilio}}" class="form-control" />
            <span class="help-block">{{errorMessage 'domicilio'}}</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="email">Correo</label>
          <input name="email" id="email" type="email" value="{{email}}" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="sexo">Sexo</label>
          <select class="form-control" id="sexo" name="sexo">
            <option value="M" {{selectedSexo 'M'}}> Masculino </option>
            <option value="F" {{selectedSexo 'F'}}> Femenino </option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="estadocivil">Estado Civil</label>
          <select class="form-control" id="estadoCivil" name="estadoCivil">
            <option value="S" {{selectedEstadoCivil 'S'}}> Soltero/a </option>
            <option value="C" {{selectedEstadoCivil 'C'}}> Casado/a </option>
            <option value="D" {{selectedEstadoCivil 'D'}}> Divorciado/a </option>
            <option value="V" {{selectedEstadoCivil 'V'}}> Viudo/a </option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="aseguradora">Aseguradora</label>
          <select class="form-control" id="aseguradora" name="aseguradora" required="true">
            <option value="N" {{selectedAseguradora 'N'}}> Ninguna </option>
            <option value="I" {{selectedAseguradora 'I'}}> IPS </option>
            <option value="S" {{selectedAseguradora 'S'}}> SerMed </option>
            <option value="U" {{selectedAseguradora 'U'}}> Unimed </option>
            <option value="M" {{selectedAseguradora 'M'}}> Migone </option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group {{errorClass 'telefono1'}}">
          <label class="control-label required-label">Telefono</label>
          <div class="controls">
            <div class="input-group" id="telefonos">
              <input name="telefono1" id="telefono1" type="number" required="true" value="{{telefono1}}" class="form-control" />
              <span class="input-group-addon" id="basic-addon1">
                <a class="telefono" style="cursor: pointer;">
                  <img src="/img/ic_add_circle_black_18px.svg" />
                </a>
              </span>
            </div>
            <span class="help-block">{{errorMessage 'telefono1'}}</span>
          </div>
        </div>
      </div>
      <div id="div-telefono2" class="col-xs-12 col-md-12 col-lg-6  {{hidden '2'}}">
        <div class="form-group">
          <label class="control-label" for="telefono2">Teleno 2</label>
          <input name="telefono2" id="telefono2" type="number" value="{{telefono2}}" class="form-control" />
        </div>
      </div>
      <div id="div-telefono3" class="col-xs-12 col-md-12 col-lg-6  {{hidden '3'}}">
        <div class="form-group">
          <label class="control-label" for="telefono3">Telefono 3</label>
          <input name="telefono3" id="telefono3" type="number" value="{{telefono3}}" class="form-control" />
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="form-group">
          <label class="control-label" for="otrosDatos">Otros datos</label>
          <textarea id="otrosDatos" name="otrosDatos" class="form-control" value="{{otrosDatos}}" rows="3"></textarea>
        </div>
      </div>
    </div>
  </form>
</template>

<!-- <template name="accountPhoto">
  <div class="col-xs-12 col-md-12 col-lg-6">
    <div class="form-group">
      <button type="button" class="thumbnail" id="btnFoto">
        <img id="foto" src="{{urlFoto}}" />
      </button>
      <input type="file" name="file-up" id="file-up" style="display:none">
    </div>
  </div>
</template> -->
