<template name="pacientePage">
  <!-- <form id="formPacientePage" class="consulta-form form"> -->


    <!-- <div class="nav-tabs-responsive"> -->
    <!-- <div class="pull-right">
        <h2>{{{nombre}}}</h2>
      </div> -->
    <ul class="nav nav-pills no-printable" style="margin-top: 50px;">
      <li class="active listanav" title="Ficha clínica">
        <a data-toggle="pill" href="#consultar" class="tabPrincipal" title="Ficha clínica">
          <span class="glyphicon glyphicon-list-alt"></span>{{renderImageAndText 'Ficha clínica'}}</a>
      </li>
      <li class="listanav" title="Datos del Paciente">
        <a data-toggle="pill" href="#datos" class="tabPrincipal" title="Datos del Paciente">
          <span class="glyphicon glyphicon-user"></span>{{renderImageAndText 'Datos del Paciente'}}</a>
      </li>
      <li class="listanav" title="Historia clínica">
        <a data-toggle="pill" href="#historial" class="tabPrincipal" title="Historia clínica">
          <span class="glyphicon glyphicon-time"></span>{{renderImageAndText 'Historia clínica'}}</a>
      </li>
      <li class="listanav" title="Archivos">
        <a data-toggle="pill" href="#archivos" class="tabPrincipal" title="Archivos">
          <span class="glyphicon glyphicon-floppy-save"></span>{{renderImageAndText 'Archivos'}}</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="row" no-printable>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <h5>{{tituloPage}}</h5>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
          <div class="pull-right no-printable">
            <a class="dropdown-toggle profile-image" data-toggle="dropdown">
              <img id="foto" src="{{urlFoto}}" class="img-circle">
            </a>
            <input type="file" name="file-up" id="file-up" style="display:none">
          </div>
        </div>
      </div>
      <div id="consultar" class="tab-pane fade in active">
        {{#if currentUser}} {{> consultaSubmit}} {{else}}
        <p>Por favor inicie sesión para realizar esta consulta.</p>
        {{/if}}
      </div>
      <div id="datos" class="tab-pane fade">
        {{> pacienteSubmit}}
      </div>
      <div id="historial" class="tab-pane fade">
        <hr/>
        <ul class="comments">
          {{> historiaClinica}}
        </ul>
      </div>
      <div id="archivos" class="tab-pane fade">
        {{> archivos}}
      </div>
    </div>
    <!-- </div> -->

  <!-- </form> -->
</template>
