<template name="pacienteSubmit">
  <form class="main form page">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="form-group {{errorClass 'dni'}}">
            <label class="control-label" for="dni">DNI</label>
            <div class="controls">
                <input name="dni" id="dni" type="number" required="true" value="" placeholder="Documento Nacional de Identidad" class="form-control"/>
                <span class="help-block">{{errorMessage 'dni'}}</span>
            </div>
          </div>
          <div class="form-group {{errorClass 'nombre'}}">
            <label class="control-label" for="nombre">Nombre</label>
            <div class="controls">
                <input name="nombre" id="nombre" type="text" required="true" value="" placeholder="Nombre del paciente" class="form-control"/>
                <span class="help-block">{{errorMessage 'nombre'}}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6">
          <div class="pull-right">
            <a href="#" class="thumbnail">
              <img src="" id="foto" name="foto" alt="das">
            </a>
            <label for="file-up" class="btn btn-primary">Foto
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              <input type="file" name="file-up" id="file-up" style="display:none">
            </label>
          </div>
        </div>
      </div>
    <input type="submit" value="Guardar" class="btn btn-primary"/>
  </form>
</template>
