<template name="pacienteItem">
  <div class="paciente">
    <div class="paciente-content">
      <h3>
        <div class="name">
          {{{nombre}}} - {{{dni}}}
        </div>
      </h3>
      <p>
        registrado por {{author}},
        <span style="color: #337ab7;">{{consultasCount}} consultas</span>
        <!-- {{#if ownPaciente}}<a href="{{pathFor 'pacienteEdit'}}">Edit</a>{{/if}} -->
      </p>
    </div>
    <a href="{{pathFor 'pacientePage'}}" class="discuss btn btn-primary">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
</template>
