<template name="archivos">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <nav>
        <ul class="pagination">
          {{#each archivos}}
            <li class="paginationList"><a href="#">{{@index}}</a></li>
          {{/each}}
          <li class="paginationListNext {{isMore}}"><a href="#" aria-label="Siguiente"><span aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
      <input type="file" id="archivo-up" style="display:none">
      <div class="panel panel-info">
        <div class="panel-heading clearfix">

          Detalles {{dateToText current.metadata.submitted}}
          <div class="pull-right">
            <div class="btn-group">
              <a href="#" id="btnRotateLeft" class="btn btn-primary btn-sm">
                <img src="/img/ic_rotate_left_white_18px.svg" />
              </a>
              <a href="#" id="btnRotateRight" class="btn btn-primary btn-sm">
                <img src="/img/ic_rotate_right_white_18px.svg" />
              </a>
            </div>
            <div class="btn-group" style="margin-left:15px;">
              <a href="#" id="btnNew" class="btn btn-primary btn-sm">Nuevo</a>
            </div>
          </div>
        </div>
        <div class="panel-body img-container" >
          <img id="archivo" src="{{foto}}" >
        </div>
      </div>
    </div>
  </div>
</template>
